In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

WARNING:tensorflow:From c:\Users\zw\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
file_path_ad_clean = "../Raw_data/application_data_cleaned.csv"
application_df = pd.read_csv(file_path_ad_clean)
application_df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# convert text to numbers for model
application_df = pd.get_dummies(application_df)

In [4]:
application_df.head(10)

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,False,False,False,False,False,False,True,False,True,False
1,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,False,True,False,False,False,False,False,False,True,False
2,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,False,False,False,False,False,False,False,False,False,False
3,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,False,False,False,False,False,False,False,False,False,False
4,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,False,False,False,False,False,False,False,False,False,False
5,0,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588,-4970.0,...,False,False,False,False,False,False,False,False,False,False
6,0,1,171000.0,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,-1213.0,...,False,False,False,False,False,False,False,False,False,False
7,0,0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850,-449,-4597.0,...,False,False,False,False,False,False,False,False,False,False
8,0,0,112500.0,1019610.0,33826.5,913500.0,0.018634,-20099,365243,-7427.0,...,False,False,False,False,False,False,False,False,False,False
9,0,0,135000.0,405000.0,20250.0,405000.0,0.019689,-14469,-2019,-14437.0,...,False,False,False,False,False,False,False,False,False,False

In [5]:
#seperate feature and target
features = application_df.drop('TARGET',axis=1).values
target = application_df['TARGET'].values

In [6]:
X = features
y = target
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train_scaled[0])
nodes_layer1 = 244
nodes_layer2 = 120
nodes_layer3 = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = nodes_layer1, input_dim = num_input_features, activation ="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = nodes_layer2, activation ="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units = nodes_layer3, activation ="sigmoid"))
# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\zw\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 244)               59536

 dense_1 (Dense)             (None, 120)               29400

 dense_2 (Dense)             (None, 1)                 121

=================================================================
Total params: 89057 (347.88 KB)
Trainable params: 89057 (347.88 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\zw\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [10]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
WARNING:tensorflow:From c:\Users\zw\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\zw\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

7162/7162 [==============================] - 6s 790us/step - loss: 0.2839 - accuracy: 0.9170
Epoch 2/20
7162/7162 [==============================] - 5s 762us/step - loss: 0.2817 - accuracy: 0.9192
Epoch 3/20
7162/7162 [==============================] - 5s 761us/step - loss: 0.2816 - accuracy: 0.9192
Epoch 4/20
7162/7162 [==============================] - 5s 767us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 5/20
7162/7162 [==============================] - 6s 781us/step - loss: 0.2815 - accuracy: 0.9192
Epoch 6/20
7162/7162 [==============================] - 5s 766us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 7/20
7162/7162 [==============================] - 6s 769us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 8/20
7162/7162 [==============================] - 6s 796us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 9/20
7162/7162 [==============================] - 6s 768us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 10/20
7162/7162 [==============================] - 6s 783us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 11/20
7162/7162 [==============================] - 6s 772us/step - loss: 0.2814 - accuracy: 0.9192
Epoch 12/20
7162/7162 [==============================] - 5s 765us/step - loss: 0.2813 - accuracy: 0.9192
Epoch 13/20
7162/7162 [==============================] - 5s 765us/step - loss: 0.2813 - accuracy: 0.9192
Epoch 14/20
7162/7162 [==============================] - 5s 767us/step - loss: 0.2813 - accuracy: 0.9192
Epoch 15/20
7162/7162 [==============================] - 5s 763us/step - loss: 0.2813 - accuracy: 0.9192
Epoch 16/20
7162/7162 [==============================] - 5s 755us/step - loss: 0.2813 - accuracy: 0.9192
Epoch 17/20
7162/7162 [==============================] - 5s 750us/step - loss: 0.2812 - accuracy: 0.9192
Epoch 18/20
7162/7162 [==============================] - 5s 753us/step - loss: 0.2812 - accuracy: 0.9192
Epoch 19/20
7162/7162 [==============================] - 5s 764us/step - loss: 0.2812 - accuracy: 0.9192
Epoch 20/20
7162/7162 [==============================] - 5s 754us/step - loss: 0.2812 - accuracy: 0.9192

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2388/2388 - 1s - loss: 0.2815 - accuracy: 0.9191 - 1s/epoch - 523us/step
Loss: 0.28150010108947754, Accuracy: 0.9190961718559265

In [14]:
nn.save('./trained_models/model_v2.h5')